{% extends 'master_base.html' %}
{% block title %}New Financial Year{% endblock %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/master/">Kericho County Bursary Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="{% url 'master homepage'%}">Home</a>
            <a class="nav-link" href="{% url 'master applications' %}">Applications</a>
            <a class="nav-link" href="{% url 'master users' %}">Users</a>
            <a class="nav-link" href="{% url 'master financial' %}">Financial Years</a>
            <a class="nav-link" href="{% url 'master allocations' %}">Allocations</a>
            <a class="nav-link" href="/master/logout/">Log Out</a>
        </div>
        </div>
    </div>
    </nav>

<div class="container">
    <form class='form' method="POST" action="{% url 'master financial form' %}">
        <h3>Add New Financial Year</h3>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-info" value='Add'>
    </form>
</div>
{% endblock %}