{% extends 'accounts_base.html' %}
{% block title %}Students{% endblock %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'accounts homepage'%}">Kericho County Bursary Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="{% url 'accounts homepage'%}">Home</a>
            <a class="nav-link" href="{% url 'accounts applications' %}">Applications</a>
            <a class="nav-link" href="{% url 'accounts schools' %}">Schools</a>
            <a class="nav-link" href="/accounts/logout/">Log Out</a>
        </div>
        </div>
    </div>
    </nav>

<div class="container">
    <h3>Students</h3>
    <a href="/accounts/email/{{ institution }}/" class="btn btn-info">Share List</a>
    <a href="/accounts/download/{{ institution }}" class="btn btn-info">Download List</a>
    <table class="table">
        <tr>
            <th>Full Name</th>
            <th>Admission/Registration Number</th>
            <th>Gender</th>
            <th>Allocated Amount</th>
        </tr>
        {% for application in applications %}
        <tr>
            <td>{{ application.full_name | title }}</td>
            <td>{{ application.admission_no | title }}</td>
            <td>{{ application.get_gender_display | title }}</td>
            <td>{{ application.amount | title }}</td>
        </tr>
        {% endfor %}
    </table>
    <div class="pagination">
        <span class="step-links">
        {% if applications.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ applications.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
        Page {{ applications.number }} of {{ applications.paginator.num_pages }}.
        </span>
        {% if applications.has_next %}
        <a href="?page={{ applications.next_page_number }}">next</a>
        <a href="?page={{ applications.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
        </span>
        </div>
    <span><i>{{ count }} Entries<i></span>
</div>
{% endblock %}