{% extends 'accounts_base.html' %}
{% block title %}HomePage{% endblock %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'accounts homepage'%}">Kericho County Bursary Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="{% url 'accounts homepage'%}">Home</a>
            <a class="nav-link" href="{% url 'accounts applications' %}">Applications</a>
            <a class="nav-link" href="{% url 'accounts schools' %}">Schools</a>
            <a class="nav-link" href="{% url 'accounts students' %}">Students</a>
            <a class="nav-link" href="/accounts/logout/">Log Out</a>
        </div>
        </div>
    </div>
</nav>

<div class="container">
    <h3>Accountant Dashboard</h3>
    <h4>All Application</h4>
    <p>Total Applications: {{ total_all_applications }}</p>
    <p>There are {{ all_females }} female applicants which is {{ all_females_percentage }}% of all applications</p>
    <p>There are {{ all_males }} male applicants which is {{ all_males_percentage }}% of all applications</p>
    <table class="table">
        <tr>
            <th>Ward</th>
            <th>Applications</th>
            <th>% of Total</th>
        </tr>
        {% for key,value in ward_all_data.items %}
        <tr>
            <td>{{ key | title }}</td>
            <td>{{ value.count }}</td>
            <td>{{ value.percentage }}</td>
        </tr>
        {% endfor %}
    </table>

    <h4>Current Financial Year Applications</h4>
    <p>Total Applications: {{ total_current_applications }}</p>
    <p>There are {{ current_females }} female applicants which is {{ current_females_percentage }}% of all applications</p>
    <p>There are {{ current_males }} male applicants which is {{ current_males_percentage }}% of all applications</p>
    <table class="table">
        <tr>
            <th>Ward</th>
            <th>Applications</th>
            <th>% of Total</th>
        </tr>
        {% for key,value in ward_current_data.items %}
        <tr>
            <td>{{ key | title }}</td>
            <td>{{ value.count }}</td>
            <td>{{ value.percentage }}</td>
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}